
@media only screen and (max-width: 600px) {

  .log {
    margin-left: 15%;
    margin-right: 15%;

  }


  .main {
    width: auto;
    min-height: 500px;
    height: auto;
    padding: 15px;
  
  }
  
}

@media only screen and (min-width: 601px) {

  .log {
    margin-left: 15%;
    margin-right: 15%;

  }


  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 10%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 20%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }

  }
  
}

@media only screen and (min-width: 900px) {

  .log {
    margin-left: 30%;
    margin-right: 30%;

  }

  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 10%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 30%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }
  }

} 

  

@media only screen and (min-width: 1200px) {

  .log {
    margin-left: 35%;
    margin-right: 35%;

  }

  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 20%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 30%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }
  }

  
}



@media only screen and (min-width: 1500px) {

  .log {
    margin-left: 40%;
    margin-right: 40%;

  }

  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 20%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 30%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }
  }

}
  


@media only screen and (min-width: 1800px) {

  .log {
    margin-left: 40%;
    margin-right: 40%;

  }
 
  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 30%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 25%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }
  }

  
}
  


@media only screen and (min-width: 2200px) {


  .main {
    display: grid;
    grid-template-areas: 
      'nav infobox'
      'lista infobox';
    margin: 100px 30%;
    padding: 20px;

    #switch1 {
      display: none;
    }

    .menu{
      margin: 0 30%;
      
    }

    #infoboxdiv {
      grid-area: infobox;
      display: block;
    
    }

    #listasimplediv {
      grid-area: lista;
      display: block;
      
    }
  }



 
  
}
